<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello   {{ prenom }}</title>
</head>
<body>
    <p> vous etes sur mon site web </p>
   <h1>Bonjour {{ prenom  }} vous avez {{ age  }} ans  </h1>
</body>
</html>