  {% extends "base.html.twig" %}
    <h1>{{ title | upper }} </h1>
    <p> comment allez vous ! </p>
    {% if age >= 18 %}
    <p> Vous etes un adulte </p> 
    {% else %}
    <p> vous etes un enfant </p>
    {{% endif %}}
    <a href="{{ path('hello_base',{ 'prenom' : 'Lior' , 'age' :31} ) }}">Allez voir Hello>voir hello </a>

{# commentaire #}


<ul>
{% for compteur in 0..10 %}
    <li>
    {{compteur}}
    </li>
{% enfor%}
</ul>
    {% for prenom,age  in tableau %}
        <p> (iteration numero {{ loop.index0 }} ) {{ prenom }} a {{ age }}  ans</p>
    {% endfor %}
